<div class="table-wrapper">
  <table class="data-table" *ngIf="loanApplications.length > 0; else noLoanApps">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Jumlah Pengajuan</th>
        <th>Tenor (Bulan)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loanApplications; let i = index">
        <td>{{ loan.no }}</td>
        <td><a [routerLink]="['/detail-pinjaman', i]" class="name-link">{{ loan.name }}</a></td>
        <td>{{ loan.amount | currency:'IDR':'symbol':'1.0-0' }}</td>
        <td>{{ loan.tenor }}</td>
        <td>
          <a [routerLink]="['/detail-pinjaman', i]" class="btn btn-info btn-sm">Detail</a>
          <button (click)="onDelete(i)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noLoanApps>
    <p class="no-data">Belum ada pengajuan pinjaman.</p>
  </ng-template>
</div>
